body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #222;
    background-color: moccasin;
    text-align: center;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #777;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h3 {
    margin-top: 20px;
}

hr {
    margin: 25px 0;
    border: none;
    border-top: 1px solid #222;
}

.footer {
    margin-top: 40px;
}

code {
    font-family: monospace;
    padding: 4px 8px;
    color: #333;
    background-color: #f8f8f8;
    border-radius: 4px;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 10px;
	list-style: none;
}

a {
    color: #2574A9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
